configuration {
  modi:       "drun,run,combi";
  combi-modi: "drun,run,";
  font:       "Iosevka Nerd Font Mono 12";
  show-icons: true;
  icon-theme: "Papirus";
  terminal:   "footclient";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "Arc-Dark"
